<div class="pt-5">
    <button type="button" class="btn btn-primary mt-5" (click)="loginMetamask()">Log in with Metamask</button>
    <button type="button" class="btn btn-primary ml-4 mt-5" (click)="loginElrond()">Log in to Elrond with Ledger</button>
    <!--button type="button" class="btn btn-primary ml-4 mt-5" (click)="loginPolkadot()">Log in to Polkadot with Ledger</button-->
</div>