<div class="pt-5">
    <div>Address : {{ethAddress ? ethAddress : egldAddress}}</div>
    <div>Balance : {{balance}} {{ethAddress ? 'ETH' : 'EGLD'}}</div>
    <div class="alert alert-primary" role="alert">
        You made {{transactions}} transactions from this address.
    </div>

    <button type="button" class="btn btn-secondary mt-5" (click)="logout()">Log out</button>
</div>